
:root{
    --background-color:#2b2b2b;
    --text-color:#eee;
    --border-radius:30px;
}
.card{
    width: min(370px,100%);
    color:var(--text-color);
    position:relative;
    float:left;
    margin:20px;
}
.card .author{
    background-color: var(--background-color);
    width:60%;
    height:70px;
    display:grid;
    grid-template-columns: 50px 1fr;
    gap:20px;
    padding: 10px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.card .author img{
    width:100%;
}
.card .author .name{
    font-weight: bold;
}
.card .image{
    background-color: var(--background-color);
    text-align: center;
    border-top-right-radius: var(--border-radius);
}
.card .image img{
    width:70%;
    transform:rotate(15deg);
    transition: 0.5s;
}
.card .image img:hover{
    transform:rotate(25deg) scale(1.1) translate(15px,-2px);
}
.card .info{
    background-color: var(--background-color);
    padding:30px;
    text-align: center;
}
.card .info .name{
    font-size:1.7em ;
}
.card .more{
    background-color: var(--background-color);
    padding:0 30px 30px;
    display:flex;
    justify-content: space-between;
    align-items: end;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.card .more .button{
    display:flex;
    gap:5px;
}
.card .more .button button{
    color:var(--text-color);
    background-color: #313131;
    border: 1px solid #454545;
}
.card .more .button button:nth-child(1){
    width:40px;
    height:40px;
    border-radius: 50%;;
}
.card .more .button button:nth-child(2){
    padding: 0 20px;
    border-radius: var(--border-radius);
}
.card .options ul{
    margin:10px 0 0;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
    border: 1px solid #313131;
    padding: 5px;
    width:max-content;
    border-radius: 20px;
}
.card .options ul li{
    background-color: var(--color);
    width:15px;
    height: 15px;
    list-style: none;
    border-radius: 50%;
}
.card::before{
    background-color:transparent ;
    position:absolute;
    top:0;
    right:0;
    width:40%;
    height:70px;
    content:'';
    border-bottom-left-radius:var(--border-radius) ;
    box-shadow: -30px 30px 0 var(--background-color);
}
.card::after{
    background-color: var(--background-color);
    position: absolute;
    top:0;
    right:0;
    height:60px;
    /*content: 'text';*/
    width: calc(40% - 10px);
    border-radius: var(--border-radius);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: large;
}
@container style(--isPopular:true){
    .card::after{
        content:"🔥 Popular";
    }
    .card .more{
        box-shadow: 0 10px 0 #ff6723;
    }
}
@container style(--isNew:true){
    .card::after{
        content:"🆕 New!!";
    }
    .card .more{
        box-shadow: 0 10px 0 #00a6ed;
    }
}
@container style(--isAvailable:true){
    .card::after{
        content:"✅ Available";
    }
    .card .more{
        box-shadow: 0 10px 0 #00ed27;
    }
}
@container style(--isNotAvailable:true){
    .card::after{
        content:"🚫 Unavailable";
    }
    .card .more{
        box-shadow: 0 10px 0 #ed0000;
    }
}
.card .cert .value{
    text-align: center;
    margin-top: -25px;
}
.home{
    background-image: url('homepage.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh
}
.home .A{
    width:10%;
    font-size: 190%;
    color: #EBEBEB;
    font-weight: bold;
    text-align: left;
    background: none;
    border: none;
    margin-top:20.5%;
    margin-left:5%;
    position: absolute;
    opacity: 0;
}
.home .B{
    width:30%;
    font-size: 270%;
    color: #EBEBEB;
    font-weight: bold;
    text-align: left;
    background: none;
    border: none;
    margin-top:36.5%;
    margin-left:31%;
    opacity: 0;
}